:root {
  --color-white: #ffffff;
  --color-background-primary: #f1f1f0;
  --color-background-secondary: #ebebea;
  --color-theme-primary: #8c907e;
  --color-black: #111111;
  --color-theme-secondary: #bbbbbb;
  --color-typography-primary: #303030;
  --color-typography-secondary: #9c9c9c;
  --color-icons-primary: #a8a9a5;
  --color-icons-secondary: #bfbfbf;
}
