.container {
  background-color: var(--color-white);
  padding: 120px 0;
}
.swiper {
  margin-top: 10px;
}

.swiper h1 {
  text-align: center;
}

.collection_banner {
  background-color: var(--color-background-primary);
  position: relative;
  padding: 140px 0px;
}
.collection_banner > h1 {
  position: absolute;
  left: 44px;
  top: 0;
  font-family: "Marcellus", sans-serif;
  font-weight: 400;
  font-size: 186px;
  color: var(--color-background-secondary);
  text-transform: uppercase;
  z-index: 1 !important;
}

.player_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  background-color: #fff;
  padding-bottom: 100px;
}
