.shop_container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.no-items {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
